<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">   <!-- row is neccesary here to make columns work. column work under row class only-->
  <div class='col-10'>  <!--whole page is divided into 12 columns, 10 are given to this div, similary 2 columns are given to apply button-->
    <h4 style="color:rgb(120,0,10);margin-bottom:4px">{{each_job['title']}}</h4>  
    <div><b>Location:</b>{{each_job['location']}} </div>
    {%if 'salary' in each_job %}   <!--to check if salary not given then dont show on website--> 
      <div><b>Salary: </b>{{each_job['salary']}} </div>
    {%endif%}
  </div>
  <div class='col-2'>
    <a href="mailto:jateladikshant@gmail.com?subject=Application%20for%20the%20positions%20{{each_job['title']}}&body=%0D%0A%0D%0AName%3A%0D%0APh%3A%0D%0ALinkedIn%20link%3A%0D%0APlease%20share%20your%20resume." type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>




<!-- dto push files from replit to github use below command
1.git status
2.git add .
3.git config --global user.name "Jatela"
4.git config --global user.email "jateladikshant@gmail.com"
5.git commit -m "add newfile and some fixes"
6.git push origin main
-->